body {
  color: #FFFFFF;
  font-family: "Segoe UI", "Roboto", "Helvetica", "Arial", "sans-serif";
}

p h1 h2 h3 h4 h5 h6 {
  color: #FFFFFF;
  font-family: "Segoe UI", "Roboto", "Helvetica", "Arial", "sans-serif";
}

a {
  color: #2196F3;
  text-decoration: none;
}

a:hover {
  color: #FFFFFF;
}

a:visited {
  text-decoration: underline;
}

img {
  width: 100%;
  object-fit: 'scale-down';
}

/* code {
  background: #111111;
  border-color: #787878;
  border-radius: 2px;
  border-width: 2px;
  color: #FFD54F;
  font-family: "Fira Code", "Consolas", monospace;
  padding-left: 3px;
  padding-right: 3px;
} */

pre {
  margin: 0;
}